<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel="icon" href="/images/robthedev.jpg">
</head>

<body>
    <div class="wrap">
        <header>header</header>
        <div class="main">
            {{{body}}}
        </div>
        <footer>@Copyright RobTheDev.com</footer>
    </div>
</body>

</html>