<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" href="/images/robthedev.jpg">
</head>
<body>
{{{body}}}
</body>
</html>
