<div class="centered-form">
    <div class="centered-form__box">
        <h1>User Sign Up</h1>
            <label id="label1">User Info</label>
            <input id="email" type="text" name="email" placeholder="email" required>
            <input id="displayname" type="text" name="displayname" placeholder="your name" required>
            <label id="label2">Password</label>
            <input id="password" type="password" name="password" required>
            <label id="label2">Re-enter Password</label>
            <input id="password2" type="password" name="password2" required>
            <label id="passwordmatch"></label>
            <button id="signupbutton">Sign Up</button>
    </div>
</div>

<script src="/js/signup.js"></script>
