<table style="height: 477px;" width="452">
<tbody>
<tr style="height: 22px;">
<td style="width: 442px; height: 22px;">Header</td>
</tr>
<tr style="height: 456px;">
<td style="width: 442px; height: 456px;">Content</td>
</tr>
<tr style="height: 26.859375px;">
<td style="width: 442px; height: 26.859375px;">Footer</td>
</tr>
</tbody>
</table>